# macOS
.DS_Store

# Xcode build artifacts
build/
DerivedData/
*/build/
*/DerivedData/

# Xcode user settings
xcuserdata/
*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

# Xcode workspace state
*.xccheckout
*.xcscmblueprint
*.xcuserdatad/

# Swift Package Manager
.build/
.swiftpm/

# IDE/editor
.vscode/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/